<div class="p-5 text-white bg-dark rounded">
  <div class="d-flex justify-content-evenly align-items-center mb-3">
    <!-- <img
      *ngIf="this.selectedSubject"
      class="me-3 rounded-circle"
      [src]="this.selectedSubject?.photo"
      alt="User image"
      width="55"
      height="55"
    /> -->

    <h3 *ngIf="!this.selectedSubject && !this.selectedsUsers.length">
      Seleccione una materia o elija el alumno a inscribir...
    </h3>

    <h2 *ngIf="this.selectedSubject || this.selectedsUsers.length">
      Inscripción a materia
    </h2>
  </div>

  <div class="row" *ngIf="this.selectedSubject || this.selectedsUsers.length">
    <!-- SUBJECT -->
    <div [ngClass]="{ 'col-md-6 col-lg-6': this.showStudentsList }">
      <div class="form-group mb-3">
        <label class="form-label">UID Materia</label>
        <input
          class="form-control"
          type="text"
          disabled
          [value]="this.selectedSubject?.uid"
        />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Nombre de la materia</label>
        <input
          class="form-control"
          type="text"
          disabled
          [value]="this.selectedSubject?.name"
        />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Cupos disponibles</label>
        <input
          class="form-control"
          type="text"
          disabled
          [value]="this.selectedSubject?.places"
        />
      </div>

      <div class="form-group mb-3">
        <label class="form-label">Cuatrimestre</label>
        <input
          class="form-control"
          type="text"
          disabled
          [value]="this.selectedSubject?.quarter! | quarter"
        />
      </div>
    </div>

    <!-- USER -->
    <div
      class="col-md-6 col-lg-6 text-center"
      *ngIf="this.showStudentsList && !this.selectedsUsers.length"
    >
      <h6>Lista de alumnos</h6>
    </div>

    <div class="col-md-6 col-lg-6" *ngIf="this.selectedsUsers.length">
      <div class="row">
        <div class="col-4" *ngFor="let user of this.selectedsUsers">
          <button
            class="badge btn-danger rounded-circle"
            style="cursor: pointer"
            (click)="this.onRemoveUser(user)"
          >
            x
          </button>
          <img
            class="me-3 rounded-circle mb-3"
            [src]="user?.photo"
            alt="User image"
            width="70"
            height="70"
          />
        </div>
      </div>
    </div>
  </div>

  <div
    class="row px-2 mt-1"
    *ngIf="this.selectedSubject || this.selectedsUsers.length"
  >
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="
        this.studentToInscription
          ? false
          : !this.selectedsUsers.length || !this.selectedSubject
      "
      (click)="this.onSaveInscription()"
    >
      Inscribir
    </button>
  </div>
</div>
