<h4 class="d-flex justify-content-between align-items-center mb-3">
  <span class="text-primary">Listado {{ this.title }}</span>
</h4>

<h6 *ngIf="!this.notDirectList">Seleccioné una materia para la lista</h6>

<h6
  class="text-center"
  *ngIf="this.notDirectList && this.notDirectList.length === 0"
>
  No hay alumnos en la lista no directa
</h6>

<div
  class="mb-3 animate__animated animate__fadeIn"
  *ngIf="this.notDirectList && this.notDirectList.length !== 0"
>
  <div class="overflow-auto fullTableHeight">
    <ul class="list-group">
      <li
        class="
          list-group-item
          d-flex
          justify-content-between
          align-items-center
          rounded
          item
        "
        *ngFor="let exam of this.notDirectList"
      >
        <div class="d-flex justify-content-center align-items-center">
          <img
            class="me-3 rounded-circle"
            [src]="exam.student.photo"
            alt="User image"
            width="55"
            height="55"
          />

          <div>
            <span>
              Nota: {{ exam.score }} -
              <span
                class="badge rounded-pill bg-success"
                [ngClass]="{
                  'bg-danger': exam.score >= 1 && exam.score < 4,
                  'bg-warning': exam.score >= 4 && exam.score < 6
                }"
              >
                {{ exam.score | score }}
              </span>
            </span>
            <br />

            <small class="text-muted">
              Fecha del examen: {{ exam.date | date }}
            </small>
            <h6 class="my-0">{{ exam.student.email }}</h6>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
