<app-spinner
  [isLoading]="!this.subjectsList"
  [text]="'Cargando lista de materias'"
></app-spinner>

<h6
  class="text-center"
  *ngIf="
    this.currentUserFromDB &&
    this.currentUserFromDB.type === 'ADMIN' &&
    this.subjectsList &&
    this.subjectsList.length === 0
  "
>
  No hay materias, probá dando de alta una
  <span class="cursor text-primary" [routerLink]="['/admin/create-subject']">
    aquí
  </span>
</h6>

<h6
  class="text-center"
  *ngIf="
    this.currentUserFromDB &&
    this.currentUserFromDB.type === 'TEACHER' &&
    this.subjectsList &&
    this.subjectsList.length === 0
  "
>
  No tenés materias a cargo
</h6>

<div
  class="mb-3 animate__animated animate__fadeIn"
  *ngIf="this.subjectsList?.length"
>
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-primary">Lista de {{ this.title }}</span>
    <span class="badge bg-primary rounded-pill">
      {{ this.subjectsList?.length }}
    </span>
  </h4>

  <div
    class="overflow-auto"
    [ngClass]="{
      fullTableHeight: this.full,
      defaultTableHeight: this.full === false
    }"
  >
    <ul class="list-group">
      <li
        class="list-group-item d-flex align-items-center rounded item"
        *ngFor="let subject of this.subjectsList"
        (click)="this.selectSubject(subject)"
      >
        <h6 style="height: 80px" [appPlaces]="subject.places">h</h6>

        <div
          class="d-flex justify-content-start align-items-center"
          style="flex: 1"
        >
          <img
            class="mx-3"
            [src]="subject.photo"
            alt="Subject image"
            width="55"
            height="55"
          />

          <div>
            <h6 class="my-0" *ngIf="this.showTeacher">
              Profesor: {{ subject.teacher.email }}
            </h6>

            <small class="text-muted">UID {{ subject.uid }}</small>
            <h6 class="my-0">
              materia: {{ subject.name }} -
              {{ subject.quarter | quarter }}
            </h6>
            <small class="text-muted">
              {{ subject.places }} cupos disponibles
              {{
                subject.students.length !== 0
                  ? "- alumnos inscriptos: " + subject.students.length
                  : null
              }}
            </small>
          </div>
        </div>

        <span class="text-muted" *ngIf="this.isAdmin">
          <button
            class="btn btn-outline-danger"
            (click)="this.onDeleteSubject(subject)"
          >
            x
          </button>
        </span>
      </li>
    </ul>
  </div>
</div>
