/* You can add global styles to this file, and also import other style files */
.background-container {
  background: url(assets/images/class.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blur {
  background: rgba(187, 187, 187, 0.5);
  box-shadow: 4px 4px 32px rgba(16, 16, 32, 0.12);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(20px);
  opacity: 0.9;
}

.error {
  color: crimson;
}

.border-radius {
  border-radius: 0.5rem;
}

.cursor {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cursor:hover {
  color: #0b5ed7 !important;
}

.item {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.item:hover {
  background-color: #e9ecef;
}
