<form
  class="form-signup"
  [ngClass]="{ 'p-3': !this.isCustomForm }"
  [formGroup]="this.registerForm"
  (ngSubmit)="this.sendForm()"
>
  <h1 class="h3 mb-3" *ngIf="this.titleVisible">
    {{ this.title }}
  </h1>

  <!-- Email -->
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="email"
      placeholder="Correo electrónico"
      formControlName="email"
    />

    <div class="form-text error">
      {{ this.getErrorMessage("email") }}
    </div>
  </div>

  <!-- Password -->
  <div class="form-group mb-3">
    <input
      class="form-control"
      type="password"
      placeholder="Contraseña"
      formControlName="password"
    />

    <div class="form-text error">
      {{ this.getErrorMessage("password") }}
    </div>
  </div>

  <!-- Photo -->
  <div class="form-group mb-3 custom-file">
    <input
      class="form-control"
      type="file"
      formControlName="photo"
      (change)="this.handlePhoto($event)"
    />

    <div class="form-text error">
      {{ this.getErrorMessage("photo") }}
    </div>
  </div>

  <!-- Type -->
  <div class="form-group mb-3" *ngIf="!this.isAdminRegister">
    <select class="form-select" formControlName="type">
      <option value="">Tipo</option>
      <option [value]="this.types.STUDENT">Alumno</option>
      <option [value]="this.types.TEACHER">Profesor</option>
      <option [value]="this.types.ADMIN" *ngIf="this.isAdminRegister">
        Admin
      </option>
    </select>

    <div class="form-text error">
      {{ this.getErrorMessage("type") }}
    </div>
  </div>

  <button
    class="btn btn-primary w-100"
    type="submit"
    [disabled]="this.registerForm.invalid"
  >
    {{ this.submitText }}
  </button>
</form>
